/* General */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #fffaf4;
  color: #333;
}

html {
  scroll-behavior: smooth;
}


/* Header */
header {
  text-align: center;
  background-color: #661e65;
  color: white;
  padding: 20px 0;
}

.tagline {
  font-style: italic;
  color: #ffe9d6;
}

/* Navigation */
nav {
  background-color: #FFD966;
}
nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin: 0;
}
nav li {
  margin: 0 15px;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
nav a:hover {
  color: #FFF4F8;
}

/* Banner */
.banner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* Menu Section */
main {
  padding: 20px;
}
h2 {
  text-align: center;
  color: #FFF4F8;
}

.menu-category {
  margin: 30px 0;
  padding: 15px;
  background-color: #fff5ee;
  border-radius: 10px;
  border: 1px solid #FFD966;
}

.menu-items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  padding-top: 10px;
}

.item {
  flex: 0 0 250px;
  background-color: white;
  border: 1px solid #FFD966;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}
.item h4 {
  margin: 5px 0;
  color: #FFF4F8;
}
.item span {
  display: block;
  font-weight: bold;
  margin-top: 5px;
  color: #333;
}

/* Special Section */
.special {
  background-color: #ffe9d6;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
}
.special-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.special-box img {
  width: 150px;
  border-radius: 10px;
}

/* Menu of the Day */
.menu-day {
  background-color: #d4c8a3;
  text-align: center;
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid #5d5848;
}

/* Contact */
.contact {
  background-color:#3b013a;
  color: white;
  text-align: center;
  padding: 30px 0;
}
.contact h2 {
  color: white;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #661e65;
  color: white;
  font-size: 14px;
}
